# Imersao Python

## Uma breve introdução ao Python.

Vamos conhecer todas as estruturas básicas da linguagem. Tudo o que é necessário para escrever programas minimamente úteis.

## Tipos de dados

Vamos dar "olá" para o mundo...

In [2]:
print("Olá mundo!!")

Olá mundo!!

In [7]:
print("Seja bem vindo à Imersão de Python!!")

Seja bem vindo à Imersão de Python!!

In [8]:
print('Olá Téo!!')

Olá Téo!!

In [9]:
print('''Muito obrigado, galera''')

Muito obrigado, galera

### Como pedir informação para o usuário??

In [12]:
nome = input("Qual o seu nome? ")
idade = input("Qual a sua idade? ")

Qual o seu nome? Téo Calvo
Qual a sua idade? 28

In [15]:
print(nome)
print(idade)

Téo Calvo
28

In [18]:
print(type(idade))
print(type(nome)) # str = string

<class 'str'>
<class 'str'>

### Toda informação que é requisitada para usuário é do tipo STRING

Ou seja, mesmo que o usuário coloque um número, o mesmo é tratado como texto. Assim que desejemos obter a idade do indivíduo, precisamos converter para INTEIRO.

In [21]:
idade = input("Qual sua idade? ")
idade = int(idade)

Qual sua idade? 28

In [22]:
idade = int(input("Qual a sua idade?"))

Qual a sua idade?28

In [28]:
print(type(idade))
print(type(nome))

<class 'int'>
<class 'str'>

## Abrindo o capô das Strings

Strings são um conjunto de caracteres, sendo possível navegar por elas, fatiar, remover caracteres, etc...

Strings possuem métodos e atributos, mas o que e isso? Uma pessoa, possui características e ações possíveis de serem executadas.

Exemplo de atributos (características):

- cor do cabelo
- cor dos olhos
- idade
- sexo

Exemplo de métodos (ações):

- Viajar
- Estudar
- Pintar o cabelo

Vamos conferrir isso nas strings?

In [48]:
nome = input("Entre com o seu nome: ")

Entre com o seu nome: Téo Calvo

In [30]:
type(nome)

str

In [68]:
# Téo Calvo
print("A primeira letra do nome é:", nome[0])
print("A segunda letra do nome é: ", nome[1])
print("A terceira letra do nome é:", nome[2])

print("A última letra do nome é: ", nome[-1], sep="")
print("A penúltima letra do nome é: ", nome[-2], sep="")

print("O nome '", nome, "' tem ", len(nome), ' caracteres.', sep="")

A primeira letra do nome é: T
A segunda letra do nome é:  é
A terceira letra do nome é: o
A última letra do nome é: o
A penúltima letra do nome é: v
O nome 'Téo Calvo' tem 9 caracteres.

In [69]:
nome_nah = input("Entre com o seu nome: ")

# Nah Ataíde
print("A primeira letra do nome é:", nome_nah[0])
print("A segunda letra do nome é: ", nome_nah[1])
print("A terceira letra do nome é:", nome_nah[2])

print("A última letra do nome é: ", nome_nah[-1], sep="")
print("A penúltima letra do nome é: ", nome_nah[-2], sep="")

print("O nome '", nome_nah, "' tem ", len(nome_nah), ' caracteres.', sep="")

Entre com o seu nome: Nah Ataide
A primeira letra do nome é: N
A segunda letra do nome é:  a
A terceira letra do nome é: h
A última letra do nome é: e
A penúltima letra do nome é: d
O nome 'Nah Ataide' tem 10 caracteres.

In [86]:
print("Os três primeiros caracteres:", nome[0:3]) # slice
print("Os três primeiros caracteres:", nome[:3]) # slice
print("Os três últimos caracteres:", nome[-3:]) # slice

print("Intercalando:",nome[::2])
print("Invertendo:",nome[::-1])
print("Invertendo no passo largo:", nome[::-2])

# fim - inicio = range
# 3 - 0 = 3

Os três primeiros caracteres: Téo
Os três primeiros caracteres: Téo
Os três últimos caracteres: lvo
Intercalando: ToClo
Invertendo: ovlaC oéT
Invertendo no passo largo: olCoT

In [95]:
# Métodos !!!!!
nome_upper = nome.upper()
nome_lower = nome.lower()
nome_prim_upper = nome.capitalize()
nome_title = nome_upper.title()

In [107]:
# Ainda em métodos!!
lara = "Lara Calvo"
teo = "Téo Calvo"
nah = "Nah Ataide"

print(teo, "termina com Calvo?", teo.endswith("Calvo"))
print(lara, "termina com Calvo?", lara.endswith("Calvo"))
print(nah, "termina com Calvo?", nah.endswith("Calvo"))

Téo Calvo termina com Calvo? True
Lara Calvo termina com Calvo? True
Nah Ataide termina com Calvo? False

In [114]:
# Concatenação
nome_teo = "Téo" + " " + "Calvo"
endereco_arquivo = "C://FileFolder/" + "dados.csv"

print(nome_teo)
print(endereco_arquivo)

Téo Calvo
C://FileFolder/dados.csv

In [119]:
# Multiplicacao
donate = "Doa aeeewwww!!\n" * 10
print(donate)

Doa aeeewwww!!
Doa aeeewwww!!
Doa aeeewwww!!
Doa aeeewwww!!
Doa aeeewwww!!
Doa aeeewwww!!
Doa aeeewwww!!
Doa aeeewwww!!
Doa aeeewwww!!
Doa aeeewwww!!

In [132]:
nome = input("Entre com o seu nome: ")

print( ("Olá " + nome + ". Tudo bem?\n") * 10 )

Entre com o seu nome: Téo Calvo
Olá Téo Calvo. Tudo bem?
Olá Téo Calvo. Tudo bem?
Olá Téo Calvo. Tudo bem?
Olá Téo Calvo. Tudo bem?
Olá Téo Calvo. Tudo bem?
Olá Téo Calvo. Tudo bem?
Olá Téo Calvo. Tudo bem?
Olá Téo Calvo. Tudo bem?
Olá Téo Calvo. Tudo bem?
Olá Téo Calvo. Tudo bem?

## Vamos para os números?

Python pode servir de calculadora, por exemplo somar, dividir, exponenciar, módulo, etc...

Lembrando que temos dois tipos básicos de numéricos: int e float.

Adicionando ainda, os booleanos: True e False

In [144]:
numA = 10
numB = 20

soma = numA + numB
sub = numA - numB
mult = numA * numB
divisao = numA / numB
resto = 5 % 2
potencia = 10 ** 2
raiz = 4 ** (1/2)

In [145]:
print(soma)
print(sub)
print(mult)
print(divisao)
print(resto)
print(potencia)
print(raiz)

30
-10
200
0.5
1
100
2.0

In [ ]:
# inteiros
# -1, 10, 2000000000000

# float
# -2.345, 8.76217356, 10.0000001, 1.0

# Booleanos
# True, False

In [154]:
True + True + 10

12

In [7]:
# 1 + 1

# 1 - 1

# 1 / 1

# 1 * 1

# 1 % 1

# 1 ** 1

# True + True

In [155]:
# Exercicio 01
# Nome da pessoa na saudação

nome = input("Entre com seu nome: ")
print("Olá ", nome, "! Seja bem vindo!", sep="")

Entre com seu nome: Téo
Olá Téo! Seja bem vindo!

In [157]:
# Exercicio 2
# Nome e idade da pessoa na saudação

nome = input("Entre com o seu nome: ")
idade = input("Entre com a sua idade: ")
msg = f"Olá {nome}!! Que bom saber que você tem {idade} anos. Seja bem vindo!"
print(msg)

Entre com o seu nome: Téo
Entre com a sua idade: 28
Olá Téo!! Que bom saber que você tem 28 anos. Seja bem vindo!

In [164]:
# Exercicio 3
# Área e Perimetro

raio = float(input("Entre com o raio: "))
area = 3.14 * raio * raio
perimetro = round(2 * 3.14 * raio, 2)

print(f"Área: {area:.2f}")
print(f"Área: {perimetro:.2f}")

Entre com o raio: 13
Área: 530.66
Área: 81.64

## Tipos iteráveis

Tipos iteráveis são tipos de dados que podemos de alguma forma iterar por eles. Mas o que diabos é iterar? Iterar é a possibilidade de criar iterações (loops) a partir de uma determinada condição lógica ou objeto a ser percorrido (iterado).

Exemplo de iteráveis:

- listas
- tuplas
- dicionários
- range

ps. Strings são iteráveis também.

Vamos começar com listas...

## Listas

Listas são objetos que carregam (apontam) para um conjunto finito de quaiquer outros tipos de objetos. Pense me listas como vagões de trem que carregam uma determinada carga, onde cada um desses vagões pode conter tipos de carga totalmente diferentes. Ou seja, em um vagão pode haver minério, no outro madeira, e no outro conter pessoas.

In [166]:
nota1 = float(input("Entre com a nota1: "))
nota2 = float(input("Entre com a nota2: "))
nota3 = float(input("Entre com a nota3: "))
nota4 = float(input("Entre com a nota4: "))

Entre com a nota1: 10
Entre com a nota2: 9.3
Entre com a nota3: 8.5
Entre com a nota4: 4

In [169]:
llista_vazia = []
notas = [nota1, nota2, nota3, nota4]

In [170]:
print("Primeira nota:", notas[0])
print("Primeira segunda:", notas[1])
print("Primeira terceira:", notas[2])
print("Primeira quarta:", notas[3])

Primeira nota: 10.0
Primeira segunda: 9.3
Primeira terceira: 8.5
Primeira quarta: 4.0

In [172]:
notas[1:3]

[9.3, 8.5]

In [228]:
dados_teo = ["Teo", "Calvo", 28, "Nah", "Kira",
             ["Camis", "Jacque"],
             ["Ana", "Maria", "Judite", "Clara"] ]

In [229]:
len(dados_teo)

7

In [230]:
# Ultima pessoa que lidero
dados_teo[5][-1]

'Jacque'

In [231]:
# Lista das Ex-namoradas
dados_teo[-1]

['Ana', 'Maria', 'Judite', 'Clara']

In [234]:
# Ultima letra do nome da esposa
dados_teo[3][-1]

'h'

In [233]:
# Remove a coitada da Maria
dados_teo[-1].remove("Maria") # Altera a própria lista

In [217]:
# Como adicionar um elemento à listas

notas = []
n = float(input("Entre com sua nota: "))
notas.append(n)

n = float(input("Entre com sua nota: "))
notas.append(n)

n = float(input("Entre com sua nota: "))
notas.append(n)

n = float(input("Entre com sua nota: "))
notas.append(n)

n = float(input("Entre com sua nota: "))
notas.append(n)

print(notas)

print( (notas[0] + notas[1] + notas[2] + notas[3])/4 )
print( sum(notas)/4 )
print( sum(notas)/len(notas) )

Entre com sua nota: 10
Entre com sua nota: 9.5
Entre com sua nota: 8.4
Entre com sua nota: 4.8
Entre com sua nota: 10
[10.0, 9.5, 8.4, 4.8, 10.0]
8.174999999999999
10.674999999999999
8.54

In [242]:
# LISTA SÃO OBJETOS MUTAVEIS!!!!
numeros = [1,2,3]
numeros = numeros + [4,5,6]
numeros.extend([7,8,9]) # Isso altera a própria lista
numeros += [10,11,12]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [243]:
# Inverte a ordem dos elementos da própria lista
# Isso altera a própria lista
numeros.reverse()

In [254]:
minha_lista = ["Téo", "Lara", "Calvo", 28, 30]
minha_lista.reverse()
minha_lista

[30, 28, 'Calvo', 'Lara', 'Téo']

In [255]:
print("O elemento", minha_lista.pop(), "foi removido")

removido = minha_lista.pop(0)
print("O elemento", removido, "foi removido")

O elemento Téo foi removido
O elemento 30 foi removido

In [252]:
# Isso é um reverse que retorna uma nova lista
numeros_asc = numeros[::-1]

In [8]:
# Exemplo de listas

# Posição de um elemento

# Concatenação de listas

# Métodos de listas

# Fatiamento

## Tuplas

### Maneira feia de definir tuplas:

Tuplas são listas imutáveis. Mas o que e isso?

In [269]:
tupla_unitaria = (1,)
tupla_unitaria

(1,)

In [271]:
minha_tupla = (1,2,3,4,5)

outra_tupla = 1,2,3,4,5,6
outra_tupla

(1, 2, 3, 4, 5, 6)

In [261]:
lista_da_tuplas = list(minha_tupla)
lista_da_tupla

[1, 2, 3, 4, 5]

In [263]:
volta_tupla = tuple(lista_da_tuplas)
volta_tupla

(1, 2, 3, 4, 5)

In [9]:
# Exemplo de tuplas

# Posição de um elemento

# Concatenação de tuplas

# Métodos de tuplas

# Fatiamento

## Dicionários

Dicionários não estruturas de dados referentes à pares de chave/valor. Isso significa que vc atrela um valor a determinada chave, ao invés de uma posição, como no caso das listas e tuplas. Ressalto que o 'valor' pode ser qualquer tipo de objeto.

In [317]:
dados_teo = ["Teo", "Calvo", 28, "Nah", "Kira",
             ["Camis", "Jacque"],
             ["Ana", "Maria", "Judite", "Clara"] ]

In [339]:
meu_dict = {'nome':"Téo",
            
            'sobrenome':"Calvo",
            
            'liderados(as)':[{"nome":"Camis","cargo":"DSIII"},
                             {"nome":"Jacque","cargo":"DSIII"}],
            
            'exs':[{"nome":"Ana", "ano":2010},
                   {"nome":"Maria","ano":2008},
                   {"nome":"Judite","ano":2005},
                   {"nome":"Clara","ano":2004}]
           }

In [340]:
meu_dict['exs'][0]['nome']

'Ana'

In [341]:
# Removendo a Ana das Exs
meu_dict['exs'].pop(0)

{'nome': 'Ana', 'ano': 2010}

In [342]:
meu_dict

{'nome': 'Téo',
 'sobrenome': 'Calvo',
 'liderados(as)': [{'nome': 'Camis', 'cargo': 'DSIII'},
  {'nome': 'Jacque', 'cargo': 'DSIII'}],
 'exs': [{'nome': 'Maria', 'ano': 2008},
  {'nome': 'Judite', 'ano': 2005},
  {'nome': 'Clara', 'ano': 2004}]}

In [343]:
type(meu_dict)

dict

In [344]:
type(meu_dict['liderados(as)'])

list

In [345]:
meu_dict['exs'][0]

{'nome': 'Maria', 'ano': 2008}

In [346]:
type(meu_dict)

dict

In [347]:
# removendo ex namoradas
ex = meu_dict.pop("exs")
meu_dict

{'nome': 'Téo',
 'sobrenome': 'Calvo',
 'liderados(as)': [{'nome': 'Camis', 'cargo': 'DSIII'},
  {'nome': 'Jacque', 'cargo': 'DSIII'}]}

In [348]:
# Quais são as chaves do meu dicionário?
meu_dict.keys()

dict_keys(['nome', 'sobrenome', 'liderados(as)'])

In [349]:
# Quais são os valores?
meu_dict.values()

dict_values(['Téo', 'Calvo', [{'nome': 'Camis', 'cargo': 'DSIII'}, {'nome': 'Jacque', 'cargo': 'DSIII'}]])

In [350]:
# Quais são os items?
meu_dict.items()

dict_items([('nome', 'Téo'), ('sobrenome', 'Calvo'), ('liderados(as)', [{'nome': 'Camis', 'cargo': 'DSIII'}, {'nome': 'Jacque', 'cargo': 'DSIII'}])])

In [351]:
# Criando nova chave
meu_dict['pet'] = 'Kira'

In [352]:
meu_dict['liderados(as)'][0]['olhos'] = 'verdes'

In [357]:
meu_dict['liderados(as)'][0]['olhos']

'verdes'

In [358]:
meu_dict

{'nome': 'Téo',
 'sobrenome': 'Calvo',
 'liderados(as)': [{'nome': 'Camis', 'cargo': 'DSIII', 'olhos': 'verdes'},
  {'nome': 'Jacque', 'cargo': 'DSIII'}],
 'pet': 'Kira'}

In [359]:
print(meu_dict['nome'], meu_dict['pet'])

Téo Kira

In [360]:
meu_dict

{'nome': 'Téo',
 'sobrenome': 'Calvo',
 'liderados(as)': [{'nome': 'Camis', 'cargo': 'DSIII', 'olhos': 'verdes'},
  {'nome': 'Jacque', 'cargo': 'DSIII'}],
 'pet': 'Kira'}

In [10]:
# Exemplo de dicionário

# Valor de uma chave

# Mostrar todas as chaves

# Mostrar todos os valores

## Funções

Funções são nossas amigas para reaproveitar código. Assim, caso tenha algum tipo de execução que seja parecido, não é necessário escrever o mesmo código toda vez.

In [11]:
# f(x) = x**2 + 2 * x + 10

In [367]:
def f(x):
    resultado = x**2 + 2 * x + 10
    return resultado

In [372]:
minha_var = f(10)
minha_var

In [369]:
def ola():
    print("Olá pessoal")

In [374]:
nova_var = ola()

Olá pessoal

In [379]:
type(nova_var)

NoneType

In [382]:
def saudacao(nome):
    print("Olá ", nome, ". Seja bem vindo!!",sep="")

In [384]:
saudacao("Téo")
saudacao("Mari")

Olá Téo. Seja bem vindo!!
Olá Mari. Seja bem vindo!!

In [386]:
def saudacao(nome):
    print("Olá ", nome, ". Seja bem vindo!!",sep="")
    
nome_pessoa = input("Entre com o seu nome")
saudacao(nome_pessoa)

nome_pessoa = input("Entre com o seu nome")
saudacao(nome_pessoa)

Entre com o seu nomeTéo Calvo
Olá Téo Calvo. Seja bem vindo!!
Entre com o seu nomeMari Lima
Olá Mari Lima. Seja bem vindo!!

## Controle de Fluxo

No python é possível alterar a sequencia de leitura das linhas, fazendo uso de 'funções' especiais para tal. Exemplo de operadores que alteram o fluxo de um programa:

- if

- elif

- else

- for

- while

- try

Lembre-se que é obrigatório o uso de identação, 4 espaços são o padrão.

### if, elif e else

Tabelinha verdade, vocês viram em algebra elementar, certo?

Então, verdade verdade => verdade ?

Mesma coisa por aqui:

if verdade => verdade e executamos

else => executamos aqui

In [412]:
a = ["téo", "calvo"]
b = ["téo", "calvo"]
a is b

False

In [413]:
nome = "Téo Calvo"
"Calvo" in nome

True

In [414]:
nums = [1,2,3,4,5,6]
4 in nums

True

In [405]:
idade = int(input("Entre com a sua idade: "))

if idade >= 65:
    print("Beba com calma, você já tem idade demais.")

elif idade >= 18:
    print("Beba a vontade, só não perca a cabeça ou dirija!")
else:
    print("Vá para casa beber leite!")

Entre com a sua idade: 15
Vá para casa beber leite!

In [432]:
# LOTERIA DA BABILONIA!!!
num = 7
palpite = int(input("Tente a sorte: "))

if palpite == num:
    print("ACERTOU, MISERAVI!!")
elif palpite > num:
    print("Tente um número menor")
else:
    print("Tente um número maior")

Tente a sorte: 5
Tente um número maior

In [12]:
# if

# elif

# else

### Laços de repetição

For percorre um iterável (iterador), ou seja, enquanto o iterador tiver valores para ser iterado, o laço for continua:

In [417]:
# string é iterável
# listas é iterável
# tuplas é iterável
# dicionários é iteravel

for f in "laranja":
    print(f)

l
a
r
a
n
j
a

In [418]:
frutas = ['laranja', 'limão', 'maçã']
for f in frutas:
    print(f)

laranja
limão
maçã

In [423]:
list(range(0,4))

[0, 1, 2, 3]

In [ ]:
# Como adicionar um elemento à listas

notas = []
n = float(input("Entre com sua nota: "))
notas.append(n)

n = float(input("Entre com sua nota: "))
notas.append(n)

n = float(input("Entre com sua nota: "))
notas.append(n)

n = float(input("Entre com sua nota: "))
notas.append(n)

print( sum(notas)/len(notas) )

In [431]:
notas = []
for i in range(4):
    n = float(input("Entre com sua nota: ")) # recebe string e converte para numero real
    notas.append(n) # Adiciona nota nova à lista de notas

print("Sua média é: {0:.2f}".format(sum(notas)/len(notas)))

Entre com sua nota: 10
Entre com sua nota: 8.4
Entre com sua nota: 9.5
Entre com sua nota: 4.8
Sua média é: 8.17

In [7]:
# LOTERIA DA BABILONIA!!!
num = 7

for i in range(3):
    palpite = int(input("Tente a sorte: "))
    if palpite == num:
        print("ACERTOU, MISERAVI!!")
        break
    elif palpite > num:
        print("Tente um número menor, restam", 3-i-1, "tentativas")
    else:
        print("Tente um número maior, restam", 3-i-1, "tentativas")
else:
    print("Errou tudo, otário!")

Tente a sorte: 7
ACERTOU, MISERAVI!!

In [8]:
for i in range(1,101):
    if i % 3 == 0:
        print(i, "é divisivel por 3")

3 é divisivel por 3
6 é divisivel por 3
9 é divisivel por 3
12 é divisivel por 3
15 é divisivel por 3
18 é divisivel por 3
21 é divisivel por 3
24 é divisivel por 3
27 é divisivel por 3
30 é divisivel por 3
33 é divisivel por 3
36 é divisivel por 3
39 é divisivel por 3
42 é divisivel por 3
45 é divisivel por 3
48 é divisivel por 3
51 é divisivel por 3
54 é divisivel por 3
57 é divisivel por 3
60 é divisivel por 3
63 é divisivel por 3
66 é divisivel por 3
69 é divisivel por 3
72 é divisivel por 3
75 é divisivel por 3
78 é divisivel por 3
81 é divisivel por 3
84 é divisivel por 3
87 é divisivel por 3
90 é divisivel por 3
93 é divisivel por 3
96 é divisivel por 3
99 é divisivel por 3

In [19]:
board = [["_"]*3]*3
board[1][2] = "X"

In [26]:
a = [1,2,3]
b = a.copy()

In [13]:
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [29]:
dados = {"nome":"Téo",
        "sobrenome":"Calvo",
        "idade":28}

In [34]:
# Lidando com erros e excessoes

try:
    print(dados['pet'])
except KeyError:
    print("Infelizmente essa pessoa não curte Pets")

Infelizmente essa pessoa não curte Pets

In [52]:
# LOTERIA DA BABILONIA!!!

def valida_entrada(msg):
    numero = None
    while numero is None:
        try:
            numero = int(input(msg))
            return numero
        except ValueError:
            print("Entre com um número válido!")

num = 7

for i in range(3):
    palpite = valida_entrada("Tente a sorte: ")
    if palpite == num:
        print("ACERTOU, MISERAVI!!")
        break
    elif palpite > num:
        print("Tente um número menor, restam", 3-i-1, "tentativas")
    else:
        print("Tente um número maior, restam", 3-i-1, "tentativas")
else:
    print("Errou tudo, otário!")

Tente a sorte: 10
Tente um número menor, restam 2 tentativas
Tente a sorte: 6
Tente um número maior, restam 1 tentativas
Tente a sorte: 9
Tente um número menor, restam 0 tentativas
Errou tudo, otário!

In [13]:
# for i in [1,2,3]

## Importação de bibliotecas

É comum fazer uso de código opensource que não vem "empacotado" junto com o python, assim, você pode querer usar pacotes de terceiros como também criar seus próprios módulos e bibliotecas. Para fazer reuso de códigos é necessário importa-los.

In [14]:
# import time
# import random

In [56]:
import math # importa a biblioteca inteira!!!!

In [57]:
math.pi

3.141592653589793

In [58]:
math.factorial(3)

6

In [67]:
from math import pi
from math import factorial

from math import e, exp

In [63]:
factorial(3)

6

In [61]:
pi

3.141592653589793

In [64]:
from math import *  # isso não é legal!!!!

In [65]:
e

2.718281828459045

In [66]:
pow(2,2)

4.0

In [70]:
import time

for i in range(10):
    print(i)
    time.sleep(2)

0
1
2
3
4
5
6
7
8
9

In [104]:
# LOTERIA DA BABILONIA!!!

import random

def valida_entrada(msg):
    numero = None
    while numero is None:
        try:
            numero = int(input(msg))
            return numero
        except ValueError:
            print("Entre com um número válido!")

num = random.randint(1,15)

for i in range(3):
    palpite = valida_entrada("Tente a sorte: ")
    if palpite == num:
        print("ACERTOU, MISERAVI!!")
        break
    elif palpite > num:
        print("Tente um número menor, restam", 3-i-1, "tentativas")
    else:
        print("Tente um número maior, restam", 3-i-1, "tentativas")
else:
    print("Errou tudo, otário! O número era:", num)

Tente a sorte: 7
Tente um número maior, restam 2 tentativas
Tente a sorte: 9
Tente um número maior, restam 1 tentativas
Tente a sorte: 10
Tente um número maior, restam 0 tentativas
Errou tudo, otário! O número era: 13